
<div class="jumbotron">
    <h1>Admin</h1>
    <table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>About me</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Favourite Book</th>
        <th>Favourite Colors</th>
        <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users track by $index">
            <td>{$user.name $}</td>
            <td>{$user.email $}</td>
            <td>{$user.age $}</td>
            <td>{$user.about_me $}</td>
            <td>{$user.address $}</td>
            <td>{$user.gender.value $}</td>
            <td>{$user.favourite_book $}</td>
            <td><span ng-repeat="color in user.colors track by $index">
                {$ $first ? '' : $last ? ' and ' : ', ' $}{$ color.color $}
            </span></td>
            <td>{$user.survey_completed $}</td>
    </tbody>
    </table>



<div class="jumbotron">
    <h2>Summary of Responses</h2>
    <table class="table">
    <thead>
        <tr>
        <th>Average Age</th>
        <th>Gender Ratio</th>
        <th>Top 3 Colors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>{$ summary.age $}</td>
        <td>{$ summary.gender $}</td>
        <td>{$ summary.colors $}</td>
        </tr>
    </tbody>
    </table>
</div>